{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    {% block seo %}
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description" content="
            {% block meta_description %}
            {% endblock meta_description %}
        "/>
        <meta name="keywords" content="
            {% block meta_keywords %}
            {% endblock meta_keywords %}
        "/>
    {% endblock %}

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/images/favicon.png' %}">
    <!-- Custom CSS -->
    <link href="{% static '/assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <link href="{% static '/css/fotorama.css' %}/" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static '/css/style.min.css' %}" rel="stylesheet">
    <link href="{% static '/css/main_style.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>

    <!-- Start block css -->
    {% block css %}
    {% endblock css %}
    <!-- End block css -->
</head>

<body>
    <script type="application/javascript">
        let init_data = {}
        let init_state = {}
        let init_methods = {}
        let init_urls = {}
    </script>

    <div id="app">
        {% csrf_token %}

        <!-- Preloader - style you can find in spinners.cs -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- Main wrapper - style you can find in pages.scss -->
        <div id="main-wrapper">
            <!-- Topbar header - style you can find in pages.scss -->
            {% include 'base/top_navbar.html' %}
            <!-- End Topbar header -->

            <!-- Left Sidebar - style you can find in sidebar.scss  -->
            {% include 'base/left_sidebar.html' %}
            <!-- End Left Sidebar - style you can find in sidebar.scss  -->

            <!-- Page wrapper  -->
            <div class="page-wrapper bg-light">
                <div class="pl-5 pr-5">

                    <!-- Start Medium -->
                    {% block medium %}

                        {% block breadcrumb %}
                            {% include 'base/breadcrumb.html' %}
                        {% endblock %}

                        <!-- Start Content -->
                        {% block content %}
                        {% endblock content %}
                        <!-- End Content -->

                        <!-- Start Social Network -->
                        {% block info_social_network %}
                            {% include 'base/info_social_network.html' %}
                        {% endblock info_social_network %}
                        <!-- End Social Network -->

                        <!-- Start Info -->
                        {% block info %}
                            {% include 'base/info.html' %}
                        {% endblock info %}
                        <!-- End Info -->

                    {% endblock medium %}
                    <!-- End Medium -->
                </div>

                <!-- Start Footer -->
                {% block footer %}
                    {% include 'base/footer.html' %}
                {% endblock footer %}
                <!-- End Footer -->

            </div>
            <!-- End Page wrapper  -->
        </div>
        <!-- End Wrapper -->

        {% include 'base/modals.html' %}

        {% block modals %}
        {% endblock modals %}

    </div>
    <!-- All Jquery -->
    <script src="{% static '/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static '/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static '/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <script src="{% static '/js/waves.js' %}"></script>
    <script src="{% static '/js/sidebarmenu.js' %}"></script>
    <script src="{% static '/js/custom.min.js' %}"></script>
    <script src="{% static '/assets/libs/flot/excanvas.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static '/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static '/js/pages/chart/chart-page-init.js' %}"></script>
    <script src="{% static '/js/fotorama.js' %}"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Toastr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- Start Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/v-mask/dist/v-mask.min.js"></script>
    <!-- End Vue.js -->

    <script src="{% static '/utils/utils.js' %}"></script>

    <script type="application/javascript">

        {% if DEBUG %}
            Vue.config.devtools = true
            window.__VUE_DEVTOOLS_GLOBAL_HOOK__.Vue = Vue;
        {% endif %}

        Vue.use(VueMask.VueMaskPlugin);

         let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                data: {
                    contactCSRF: document.getElementsByName("csrfmiddlewaretoken")[0].value,
                    ...init_data,
                },
                state: {
                    ...init_state,
                },
                urls: {
                    ...init_urls,
                }
            },
            methods: {
                ...utils,
                ...init_methods,
            },
            created: function() {
                this.do_init()
            }
        });
    </script>
</body>

</html>