<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center" style="background: #141619!important;">
    <span class="text-light">
        Developed by
        <a href="https://www.instagram.com/dima_shevchenko99/">
            Dmytro Shevchenko
        </a>.
    </span>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->