{% load static %}

<!-- ============================================================== -->
<!-- Start Block Info   -->
<!-- ============================================================== -->
<div class="row pt-3 pb-3">
    <div class="col-md-3">
        <div class="card border">
            <div class="card-header">
                Покупцям
            </div>
            <div class="card-body">
                <div class="row pl-2">
                    Довідка для покупців
                </div>
                 <div class="row pl-2">
                    Про надійних продавців
                </div>
                <div class="row pl-2">
                    Як залишити корисний відгук
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border">
            <div class="card-header">
                Продавцям
            </div>
            <div class="card-body">
                <div class="row pl-2">
                    Довідка для Продавцям
                </div>
                <div class="row pl-2">
                    Тарифи
                </div>
                <div class="row pl-2">
                    Угода користувача
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border">
            <div class="card-header">
                Про нас
            </div>
            <div class="card-body">
                <div class="row pl-2">
                    Про Marketplace
                </div>
                <div class="row pl-2">
                    Адміністрація
                </div>
                <div class="row pl-2">
                    Робота в Marketplace
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card border">
            <div class="card-header">
                Партнери
            </div>
            <div class="card-body">
                <div class="row pl-2">
                    Kabanchik.ua
                </div>
                <div class="row pl-2">
                    Вчасно
                </div>
                <div class="row pl-2">
                    Zakupki.prom.ua
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Block Info   -->
<!-- ============================================================== -->