{% load static %}
{% load mptt_tags %}

<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-10">
                {% recursetree categories_list %}
                    <li class="sidebar-item">
                        {% if not node.is_leaf_node %}
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)" aria-expanded="false">
                        {% else %}
                            <a href="{{ node.get_absolute_url }}" class="sidebar-link">
                        {% endif %}
                            <i class="{{ node.icon }}"></i>
                            <span class="hide-menu">
                                {{ node.name }}
                            </span>
                        </a>
                        {% if not node.is_leaf_node %}
                            <ul aria-expanded="false"
                                class="collapse {% if node.get_level == 0 %}first-level
                                     {% elif node.get_level == 1 %}second-level{% endif %}">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>