.page-item {
    padding: 3px;
    margin: 3px;
    font-size: 15px;
}

.page-link {
    padding: 15px;
}

.product-block{
    margin-right: .5rem!important;
    position: absolute;
    z-index: 111;
    opacity: 1;
}

.my-color-red {
    text-color: #de0015;
}
.my-color-orange {
    text-color: #f16d00;
}
.my-color-green {
    text-color: #098c27;
}
.my-color-blue {
    text-color: #007bff;
}
.my-color-dark {
    text-color: #000000;
}

.my-bg-color-red {
    background-color: #de0015;
}
.my-bg-color-orange {
    background-color: #f16d00;
}
.my-bg-color-green {
    background-color: #098c27;
}
.my-bg-color-blue {
    background-color: #007bff;
}
.my-bg-color-dark {
    background-color: #000000;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;

  border-radius: 100%;
  border: 2px solid black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  vertical-align: center;
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}