.page-item {
    padding: 3px;
    margin: 3px;
    font-size: 15px;
}

.page-link {
    padding: 15px;
}

.product-block{
    margin-right: .5rem!important;
    position: absolute;
    z-index: 111;
    opacity: 1;
}