{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    {% block seo %}
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <meta name="description" content="
            {% block meta_description %}
            {% endblock meta_description %}
        "/>
        <meta name="keywords" content="
            {% block meta_keywords %}
            {% endblock meta_keywords %}
        "/>
    {% endblock %}

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/assets/images/favicon.png' %}">
    <!-- Custom CSS -->
    <link href="{% static '/assets/libs/flot/css/float-chart.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static '/css/style.min.css' %}" rel="stylesheet">

    {% block css %}
    {% endblock css %}
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-5">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img width="35" src="{% static '/assets/images/logo-icon_2.png' %}" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                         <!-- Logo text -->
                        <span class="logo-text pl-2">
                             <!-- dark Logo text -->
                             <!-- <img src="{% static '/assets/images/logo-text.png' %}" alt="homepage" class="light-logo" />-->
                             Marketplace
                        </span>
                        <!-- Logo icon -->
                        <!-- <b class="logo-icon"> -->
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <!-- <img src="../../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

                        <!-- </b> -->
                        <!--End Logo icon -->
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark" href="javascript:void(0)">
                                <i class="ti-search"></i>&nbsp;&nbsp;&nbsp;Я в пошуках ....
                            </a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link waves-effect waves-light d-flex align-items-center" href="javascript:void(0)">
                                <i class="mdi mdi-cart-outline" style="font-size: 34px"></i>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static '/assets/images/users/user.jpg' %}" alt="user" class="rounded-circle" width="31"></a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-user m-r-5 m-l-5"></i>
                                    Особисті дані
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-wallet m-r-5 m-l-5"></i>
                                    Мої банківські картки
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="ti-email m-r-5 m-l-5"></i>
                                    Розсилки
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="fas fa-shopping-cart m-l-5 m-r-5"></i>
                                    Кошик
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="far fa-heart m-r-5 m-l-5"></i>
                                    Список бажаннь
                                </a>

                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="fa fa-power-off m-r-5 m-l-5"></i>
                                    Вихід
                                </a>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                                <i class="fas fa-mobile-alt"></i>
                                <span class="hide-menu">
                                    Смартфони, ТВ
                                </span>
                            </a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item">
                                    <a href="#!" class="sidebar-link">
                                        <i class="mdi mdi-all-inclusive"></i>
                                        <span class="hide-menu">
                                            Смартфони
                                        </span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="#!" class="sidebar-link">
                                        <i class="mdi mdi-all-inclusive"></i>
                                        <span class="hide-menu">
                                            Кнопкові телефони
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#!" aria-expanded="false">
                                <i class="fas fa-tv"></i>
                                <span class="hide-menu">
                                    Побутова техніка
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#!" aria-expanded="false">
                                <i class="fas fa-people-carry"></i>
                                <span class="hide-menu">
                                    Товари для дому
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#!" aria-expanded="false">
                                <i class="fas fa-car"></i>
                                <span class="hide-menu">
                                    Інструменти та автотовари
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#!" aria-expanded="false">
                                <i class="ti-user"></i>
                                <span class="hide-menu">
                                    Одяг, взуття та прикраси
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#!" aria-expanded="false">
                                <i class="fas fa-hand-holding-heart"></i>
                                <span class="hide-menu">
                                    Краса та здоров’я
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#!" aria-expanded="false">
                                <i class="fas fa-futbol"></i>
                                <span class="hide-menu">
                                    Спорт і захоплення
                                </span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="#!" aria-expanded="false">
                                <i class="fas fa-book"></i>
                                <span class="hide-menu">
                                    Канцтовари та книги
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper bg-light">
            <div class="pl-5 pr-5">

                <!-- Start Medium -->
                {% block medium %}

                    <!-- Start Content -->
                    {% block content %}

                        <!-- Start Slider -->
                        {% block main_slider %}
                            {% include 'main_slider.html' %}
                        {% endblock main_slider %}
                        <!-- End Slider -->

                        <!-- Start Novelty -->
                        {% block novelty %}
                            {% include 'novelty.html' %}
                        {% endblock novelty %}
                        <!-- End Novelty -->

                    {% endblock content %}
                    <!-- End Content -->

                    <!-- Start Social Network -->
                    {% block info_social_network %}
                        {% include 'info_social_network.html' %}
                    {% endblock info_social_network %}
                    <!-- End Social Network -->

                    <!-- Start Info -->
                    {% block info %}
                        {% include 'info.html' %}
                    {% endblock info %}
                    <!-- End Info -->

                {% endblock medium %}
                <!-- End Medium -->
            </div>

            <!-- Start Footer -->
            {% block footer %}
                {% include 'footer.html' %}
            {% endblock footer %}
            <!-- End Footer -->

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static '/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static '/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static '/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <script src="{% static '/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static '/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static '/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static '/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static '/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="{% static '/assets/libs/flot/excanvas.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.time.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static '/assets/libs/flot/jquery.flot.crosshair.js' %}"></script>
    <script src="{% static '/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static '/js/pages/chart/chart-page-init.js' %}"></script>

    <!-- Start java_script -->
    {% block java_script %}
    {% endblock java_script %}
    <!-- End java_script -->
</body>

</html>