<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center bg-dark">
    <span class="text-light">
        Designed and Developed by
        <a href="https://www.instagram.com/dima_shevchenko99/">
            Dmytro Shevchenko
        </a>.
    </span>
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->