{% load static %}

<!-- ============================================================== -->
<!-- Start Info Social Network   -->
<!-- ============================================================== -->
<div class="row p-2">
<div class="col-lg-4 col-md-12 col-sm-12 col-12 pb-2">
<div class="row d-flex justify-content-center">
<h6>Приєднуйтеся до наших соц. мереж</h6>
</div>
<div class="row d-flex justify-content-center">
<img width="36" class="mr-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png">
<img width="36" class="ml-1 mr-1" src="https://c7.hotpng.com/preview/145/243/586/logo-computer-icons-clip-art-instagram-layout-thumbnail.jpg">
<img width="36" class="ml-1 mr-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/600px-Telegram_logo.svg.png">
<img height="36" class="mr-1" src="https://w7.pngwing.com/pngs/928/563/png-transparent-youtube-logo-computer-icons-youtube-angle-company-monochrome.png">
</div>
</div>

<div class="col-lg-4 col-md-12 col-sm-12 col-12 pb-2">
<div class="row d-flex justify-content-center">
<h6>Дізнавайтеся про все першими</h6>
</div>
<div class="row d-flex justify-content-center">
<div class="col-8">
    <input placeholder="Вкажіть Ваш e-mail" id="email" name="email" type="text" class="required email form-control">
</div>
<div class="col-4">
    <button class="btn btn-primary">Підписатися</button>
</div>
</div>
</div>

<div class="col-lg-4 col-md-12 col-sm-12 col-12 pb-2">
<div class="row d-flex justify-content-center">
<h6>Звертайтеся з будь-яких питаннь</h6>
</div>
<div class="row d-flex justify-content-center">
<img width="36" class="mr-1" src="https://w7.pngwing.com/pngs/699/791/png-transparent-facebook-messenger-social-media-logo-computer-icons-facebook-messenger-logo-logo-messenger-logo-blue-angle-triangle.png">
<img width="36" class="ml-1 mr-1" src="https://f0.pngfuel.com/png/322/453/viber-application-png-clip-art.png">
<img width="36" class="ml-1 mr-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/600px-Telegram_logo.svg.png">
</div>
</div>
</div>
<!-- ============================================================== -->
<!-- End Info Social Network   -->
<!-- ============================================================== -->