{% extends 'base/base.html' %}
{% load static %}


{% block breadcrumb %}
{% endblock %}

{% block content %}
    <!-- Start Slider -->
    {% block main_slider %}
        {% include 'main/main_slider.html' %}
    {% endblock main_slider %}
    <!-- End Slider -->

    <!-- Start Novelty -->
    {% block novelty %}
        {% include 'main/novelty.html' %}
    {% endblock novelty %}
    <!-- End Novelty -->

    <script type="application/javascript">
        init_urls = {
            do_load_data_to_novelties: '/api/v1/client/novelties',
        }

        init_data = {
            block_novelty: {
                data: {
                  loading: true,
                  products: []
                },
                __state__: {}
            }
        }

        init_methods = {
            do_init() {
                this.do_init_block_novelty()
            },
            do_init_block_novelty() {
                this.data.block_novelty.data.loading = true

                this.axios_call(_url = this.urls.do_load_data_to_novelties)
                 .then(resp => {
                    if (resp.status == 200) {
                        this.data.block_novelty.data.products = resp.data
                    }
                 }).catch(() => {

                 }).finally(() => {
                    this.data.block_novelty.data.loading = false
                 })
            },
        }
    </script>

{% endblock content %}