{% load static %}

<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="row pt-3 pb-3">
    <div class="container-fluid">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-interval="5000" data-ride="carousel">
          <ol class="carousel-indicators">
              {% for item in main_carousel_items %}
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="{% if forloop.first %}active{% endif %}"></li>
              {% endfor %}
          </ol>
          <div class="carousel-inner">
              {% for item in main_carousel_items %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ item.item_image.url }}" alt="{{ item.item_alt }}">
                </div>
              {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->