{% load static %}

<!-- ============================================================== -->
<!-- Start block Novelty  -->
<!-- ============================================================== -->

<div class="row el-element-overlay pt-2">
    <div class="col-12">
        <h5>Новинки</h5>
    </div>
</div>
<div v-if="!data.block_novelty.data.loading" class="row el-element-overlay pt-2">
    <div v-for="product in data.block_novelty.data.products" class="col-lg-3 col-md-6">
        <div class="card border my-border-radius">
            <div class="el-card-item pb-0">
                <div class="el-card-avatar el-overlay-1 p-3 my-border-radius">
                    <img v-bind:src="[[ product.product_image ]]" alt="user">
                    <div class="el-overlay d-flex align-items-center justify-content-center">
                        <a class="text-white" href="#!">
                            <i class="mdi mdi-cart-outline pr-2" style="font-size: 34px"></i>
                            <i class="far fa-heart pl-2" style="font-size: 33px"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <h4>
                    <a v-bind:href="product.product_url" class="text-dark" >
                        [[ product.name ]]
                    </a>
                </h4>
                <div class="row pl-2 pb-3 d-flex align-items-center">
                    <span v-html="render_star_rating(product.average_star_rating)"></span>
                    <span class="text-muted pt-1 pl-3">
                        [[ product.comment_count ]] відгуків
                    </span>
                </div>
                <div class="row pl-2 pr-2 d-flex justify-content-between">
                    <h6 v-if="product.old_price">
                        <strike>
                            [[ product.old_price ]] {{ main_currency }}.
                        </strike>
                    </h6>
                    <h5><span class="my-color-red">
                        [[ product.price ]] {{ main_currency }}.
                    </span></h5>
                </div>
                <span v-if="product.is_available" class="text-success">
                    Є в наявності
                </span>
                <span v-else class="badge badge-danger">
                    <i class="far fa-frown"></i>
                    Немає в наявності
                </span>
            </div>
        </div>
    </div>
</div>
<div v-else class="row d-flex justify-content-center">
    {% include 'base/spiner_loader_for_blocks.html' %}
</div>
<!-- ============================================================== -->
<!-- End block Novelty  -->
<!-- ============================================================== -->