<div v-if="data.product_info.characteristic_list" class="mb-3">
    <h3>Характеристики</h3>
    <div v-for="characteristic in data.product_info.characteristic_list" class="row">
        <div class="col-6">
            [[ characteristic.attribute ]]
        </div>
        <div class="col-6">
            <div v-for="value in characteristic.values">
                [[ value ]]
            </div>
        </div>
        <div class="col-12">
            <hr class="mt-2 mb-2">
        </div>
    </div>
</div>