<div class="mb-3">
    <h3>Характеристики</h3>
    <div class="row">
        <div class="col-6">
            Роздільна здатність відео
        </div>
        <div class="col-6">
            <div>2400 x 1080</div>
        </div>
    </div>
    <hr class="mt-2 mb-2">
    <div class="row">
        <div class="col-6">
            Оперативна пам'ять
        </div>
        <div class="col-6">
            <div>6 ГБ</div>
        </div>
    </div>
    <hr class="mt-2 mb-2">
    <div class="row">
        <div class="col-6">
            Діагональ екрана
        </div>
        <div class="col-6">
            <div>6.67</div>
        </div>
    </div>
    <hr class="mt-2 mb-2">
    <div class="row">
        <div class="col-6">
            Стандарт зв'язку
        </div>
        <div class="col-6">
            <div>2G (GPRS/EDGE)</div>
            <div>3G (WCDMA/UMTS/HSPA)</div>
            <div>4G (LTE)</div>
        </div>
    </div>
</div>