{% load custom_tags %}

<div v-if="data.comments.comments_list" class="mb-3">
    <div class="d-flex justify-content-between">
        <h3>Відгуки</h3>
        {% paginator_tag %}
    </div>
    <div class="comment-widgets scrollable ps-container ps-theme-default"
         data-ps-id="aa2cada3-0530-41cd-6bee-a179f6aab841">
        <div v-for="comment in data.comments.comments_list">
            <div class="d-flex flex-row comment-row m-t-0">
                <div class="p-2">
                    <img v-bind:src="comment.owner_image" alt="user" width="50" class="rounded-circle">
                </div>
                <div class="comment-text w-100">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-medium">[[ comment.owner ]]</h6>
                        <div>
                            <span v-html="render_star_rating(comment.rating_stars)"></span>
                        </div>
                    </div>

                    <span class="m-b-15 d-block">
                        [[ comment.text ]]
                    </span>
                    <div class="comment-footer">
                        <span class="text-muted float-right">
                            [[ comment.date_time_add ]]
                        </span>
                        <span class="pl-2 pr-2">
                            <i class="far fa-thumbs-up"></i> [[ comment.likes_count ]]
                        </span>
                        <span class="pl-2 pr-2">
                            <i class="far fa-thumbs-down"></i> [[ comment.dislikes_count ]]
                        </span>
                    </div>
                </div>
            </div>
            <div v-for="answer in comment.comment_answer" class="d-flex flex-row comment-row m-t-0" style="padding-left: 100px">
                <div class="comment-text w-100">
                    <div class="d-flex justify-content-between">
                        <h6 class="font-medium">[[ answer.owner ]]</h6>
                        <div>
                            <span class="text-muted float-right">
                                [[ answer.date_time_add ]]
                            </span>
                        </div>
                    </div>

                    <span class="m-b-15 d-block">
                        [[ answer.text ]]
                    </span>
                </div>
                <div class="p-2">
                    <img v-bind:src="answer.owner_image" alt="user" width="50" class="rounded-circle">
                </div>
            </div>
        </div>

        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
            </div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
            </div>
        </div>
    </div>
</div>
<div v-else class="row d-flex justify-content-center">
    {% include 'base/spiner_loader_for_blocks.html' %}
</div>