<div class="mb-3">
    <h3>Відгуки</h3>
    <div class="comment-widgets scrollable ps-container ps-theme-default"
         data-ps-id="aa2cada3-0530-41cd-6bee-a179f6aab841">
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row m-t-0">
            <div class="p-2">
                <img src="https://www.wrappixel.com/demos/free-admin-templates/matrix-admin-bt4/assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
            </div>
            <div class="comment-text w-100">
                <div class="d-flex justify-content-between">
                    <h6 class="font-medium">James Anderson</h6>
                    <div>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                    </div>
                </div>

                <span class="m-b-15 d-block">
                    Lorem Ipsum is simply dummy text of the
                    printing and type setting industry.
                </span>
                <div class="comment-footer">
                    <span class="text-muted float-right">
                        April 14, 2016
                    </span>
                    <button type="button" class="btn btn-success btn-sm">
                        Відповісти
                    </button>
                    <span class="pl-2 pr-2">
                        <i class="far fa-thumbs-up"></i> 10
                    </span>
                    <span class="pl-2 pr-2">
                        <i class="far fa-thumbs-down"></i> 0
                    </span>
                </div>
            </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row">
            <div class="p-2">
                <img src="https://www.wrappixel.com/demos/free-admin-templates/matrix-admin-bt4/assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
            </div>
            <div class="comment-text w-100">
                <div class="d-flex justify-content-between">
                    <h6 class="font-medium">James Anderson</h6>
                    <div>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                    </div>
                </div>

                <span class="m-b-15 d-block">
                    Lorem Ipsum is simply dummy text of the
                    printing and type setting industry.
                </span>
                <div class="comment-footer">
                    <span class="text-muted float-right">
                        April 14, 2016
                    </span>
                    <button type="button" class="btn btn-success btn-sm">
                        Відповісти
                    </button>
                    <span class="pl-2 pr-2">
                        <i class="far fa-thumbs-up"></i> 10
                    </span>
                    <span class="pl-2 pr-2">
                        <i class="far fa-thumbs-down"></i> 0
                    </span>
                </div>
            </div>
        </div>
        <!-- Comment Row -->
        <div class="d-flex flex-row comment-row">
            <div class="p-2">
                <img src="https://www.wrappixel.com/demos/free-admin-templates/matrix-admin-bt4/assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
            </div>
            <div class="comment-text w-100">
                <div class="d-flex justify-content-between">
                    <h6 class="font-medium">James Anderson</h6>
                    <div>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="far fa-star text-warning"></i>
                    </div>
                </div>

                <span class="m-b-15 d-block">
                    Lorem Ipsum is simply dummy text of the
                    printing and type setting industry.
                </span>
                <div class="comment-footer">
                    <span class="text-muted float-right">
                        April 14, 2016
                    </span>
                    <button type="button" class="btn btn-success btn-sm">
                        Відповісти
                    </button>
                    <span class="pl-2 pr-2">
                        <i class="far fa-thumbs-up"></i> 10
                    </span>
                    <span class="pl-2 pr-2">
                        <i class="far fa-thumbs-down"></i> 0
                    </span>
                </div>
            </div>
        </div>

        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;">
            </div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;">
            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;">
            </div>
        </div>
    </div>
</div>