<div class="mt-3 mb-3">
    <h3>Опис товару</h3>
    <div>
        <b>Redmi Note 9 Pro</b>
        <p>Продуктивність звіра.</p>
    </div>
    <div>
        <b>Професійна якість світлин</b>
        <p>
            Основна камера Redmi Note 9 Pro складається з чотирьох датчиків зображення,
            включно з головним модулем із роздільною здатністю 64 Мп.
            Відчуйте на власному досвіді, що означає новий рівень мобільної фотографії,
            і робіть професійні знімки одним натисненням.
        </p>
    </div>
    <div>
        <b>Широкий кут і макрознімання</b>
        <p>
            Ширококутний 8 Мп об'єктив із кутом огляду 119 градусів дає змогу вмістити в
            кадр ще більше об'єктів і створює приголомшливі панорамні знімки.
            Камера для макрознімання 5 Мп робить чіткі та деталізовані фото.
        </p>
    </div>
</div>