{% load static %}

<div class="fotorama"
     data-nav="thumbs"
     data-allowfullscreen="true">
  <a href="{% static '/assets/images/products/iphone_pro_11.png' %}">
      <img src="{% static '/assets/images/products/iphone_pro_11.png' %}" width="144" height="96">
  </a>
  <a href="{% static '/assets/images/products/samsung_tv.png' %}">
      <img src="{% static '/assets/images/products/samsung_tv.png' %}" width="144" height="96">
  </a>
  <a href="{% static '/assets/images/products/mac_pro_1.png' %}">
      <img src="{% static '/assets/images/products/mac_pro_1.png' %}" width="144" height="96">
  </a>
</div>
