<div>
    <h5>
        <a href="#!" v-on:click="filter = !filter" class="d-flex align-items-center text-secondary">
            Більш розширений фільтер для пошуку
            <i class="fas pl-2" v-bind:class="{'fa-angle-down': !filter, 'fa-angle-up': filter }"></i>
        </a>
    </h5>

    <div>
        Знайдено 33 товари
        <button type="button" class="btn btn-outline-info mx-1" style="border-radius: 10px;">
            Червоний
            <i class="fa fa-times pl-1" aria-hidden="true"></i>
        </button>

        <button type="button" class="btn btn-outline-info" style="border-radius: 10px;">
            Україна
            <i class="fa fa-times pl-1" aria-hidden="true"></i>
        </button>
    </div>

    <div v-if="filter" class="card border mt-2" style="border-radius: 10px;">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <div class="row">
                        <div class="col-12">
                            <h6>Ціна</h6>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <input value="99" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                            </div>
                        </div>
                        <div class="col-2 text-center d-flex align-items-center">
                            <i class="fas fa-minus"></i>
                        </div>
                        <div class="col-4">
                            <div class="input-group">
                                <input value="192560" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <h6>Країна виробник</h6>
                    <select class="form-control" style="width: 100%; height:36px;">
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="IN">Indiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                    </select>
                </div>
                <div class="col-4">
                    <h6>Колір</h6>
                    <div class="row d-flex align-items-center pt-1">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-6">
                                    <span class="badge badge-danger">Red</span>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing1">
                                        <label class="custom-control-label" for="customControlAutosizing1"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row">
                                <div class="col-6">
                                    <span class="badge badge-primary">Blue</span>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
                                        <label class="custom-control-label" for="customControlAutosizing2"></label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="row">
                                <div class="col-6">
                                    <span class="badge badge-dark">Dark</span>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-checkbox mr-sm-2">
                                        <input type="checkbox" class="custom-control-input" id="customControlAutosizing3">
                                        <label class="custom-control-label" for="customControlAutosizing3"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-success">
                    Пошук <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>
    </div>
</div>