{% extends 'base/base.html' %}
{% load static %}

{% block css %}
{% endblock css %}

{% block content %}
<div id="app">
    {% csrf_token %}

    <div class="d-flex align-items-center justify-content-between">
        <h3>{{ category.name }}</h3>
        <div class="form-row">
            <div class="form-group pr-3">
                <select class="form-control">
                  <option>Від дешевших</option>
                  <option>Від дорогих</option>
                  <option>За рейтингом</option>
                  <option>Новинки</option>
                </select>
            </div>
            <div class="form-group pr-1">
                <button class="btn btn-success">
                    <i class="fas fa-filter"></i>
                </button>
            </div>
        </div>
    </div>

    {% include 'products_for_categories/filter.html' %}

    {% include 'products_for_categories/products.html' %}

    {% include 'products_for_categories/paginations.html' %}
</div>
{% endblock content %}

{% block java_script %}
<script>
    Vue.config.devtools = true
    window.__VUE_DEVTOOLS_GLOBAL_HOOK__.Vue = Vue;
     let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            hover1: false,
            filter: false,
            contactCSRF: document.getElementsByName("csrfmiddlewaretoken")[0].value,
        },
        methods: {}
    });
</script>
{% endblock java_script %}